(initial_ball_position:(0.0,0.0),circles:[],polygons:[(shape:[(-0.7,0.7),(-1.1,0.7),(-1.1,1.1),(-0.7,1.1)],is_static:true,is_bindable:false,is_deadly:false,is_fragile:false)],flags_positions:[(0.7,-0.5)])
